/* body{
    
    background:yellow;
} */


/* --------------------------------------- AULA 05 --------------------------------------- */


/* --- Seleção por tipo de elemento --- */

p {
    font-size: 12px;
}


/* --- Seleção por id de elemento --- */

#paragrafo01 {
    font-size: 30px;
}


/* --- Seleção por classe --- */

.nome_da_classe {
    background: white;
}


/* --------------------------------------- AULA 06 --------------------------------------- */


/*  */

.fundo_pagina {
    background: rgb(0, 0, 0);
}

.fundo_elemento {
    background: #88FF00;
}

.fundo_elemento_com_rgba {
    /* o valor 30 é o valor alfa, o valor de 'transparência'
     vai do valor 0 até 1
    */
    background: rgba(152, 152, 152, 0.3);
}


/* --------------------------------------- AULA 07 --------------------------------------- */


/* imagem de fundo */


/* repeat-x : repetição somente no eixo x
   repeat-y : repetição no eixo y
   no-repeat: não repete o background

*/


/*pro html ocupar 100% da tela*/

html {
    height: 100%;
}

.fundo_madeira {
    /*background: url('../imagens/fundo.png') center center repeat-y;*/
    background: url('../imagens/fundo.png');
}


/* --------------------------------------- AULA 08 --------------------------------------- */


/* fontes */

.fonte_pagina {
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color: darkolivegreen;

}

.fonte_01 {
    font-size: 30px;
}

.fonte_02{

    color: #00FFFF;
}

.fonte_03{

   font-family:"Courier New", Courier, monospace;
	font-size:20px;
	color:#FF00FF;
}

/* --------------------------------------- AULA 09 --------------------------------------- */


/* text */

/* espaçamento entre as linhas */
.aula09_espacamento{

    letter-spacing: 20px;
}

/* espaçamento entre as palavras */
.aula09_wordSpacing{

    word-spacing: 40px;
}

/* direciona a posição do texto */
.aula09_textAlign{

    text-align: center;
}

.aula09_textDecoration{

    /* none, underline, overline, line-through */
    text-decoration: blink;
}

/* dando margin à esquerda
como se fosse uma tabulação */
.aula09_textIndent{
    text-indent: 10%;
}

.aula09_textTransform{

    /* none, captalize, uppercase, lowercase */
    text-transform: uppercase;
}


/* --------------------------------------- AULA 10 --------------------------------------- */


/* text */

.aula10_border01{

    border: 1px solid black;
}

.aula10_border02{

    border-style: dotted;
    border-width: 3px;
    border-color: red;
}

.aula10_semBorda{

    border: none;
}

.aula10_bordaSuperiorInferior{

    border-bottom: 3px dashed green;
    border-top: 5px outset red;
}

.aula10_bordaEsquerdaDireita{

    border-right: 10px solid black;
    border-left: 5px inset red;
}

/* --------------------------------------- AULA 11 --------------------------------------- */

/* margin e padding */

.aula11_auxiliar {
	float:left;
	display:block;
	width:120px;
	height:120px;
}

.aula11_margin01 {
	margin:10px;
}

.aula11_margin02 {
	margin-left:30px;
	margin-right:30px;
	margin-top:30px;
	margin-bottom:30px;
}

/* o padding se soma com a altura ou a largura */
.aula11_padding01 {
	padding:10px;
}

.aula11_padding02 {
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
	padding-bottom:30px;
}

/* --------------------------------------- AULA 12 --------------------------------------- */

/* list-style list-style-image list-style-position list-style-type */

.aula12_lista{

    /*list-style-image: url("/imagens/seta_lista.jpg");

    /*inside - Os bullets/(marcadores) são exibidos dentro dos boxes dos textos. */
    /* outside - Os bullets/(marcadores) não são exibidos dentro dos boxes dos textos. (padrão). */
    /*list-style-position: outside;*/

    border: 1px solid black;

    list-style-type:lower-alpha;

    padding: 0;
    margin:0;
}


/* --------------------------------------- AULA 13 --------------------------------------- */


.aula13_ul{

    /* removendo a margin do ul */
    padding: 8px 0px 8px 0px;

    /* auto: essas duas margin centraliza o elemento na tela */
    margin: 0px auto 0px auto;
    list-style-type: none;
    background: #8B668B;
    width: 940px;

}

/* > mostra o primeiro nível abaixo do elemento */
.aula13_ul > li{

     /* faz flutuar os elementos pra esquerda
    float:left;*/
    display: inline;
    margin:8px 0px 8px 0px;
}

.aula13_ul a{
    color:white;
    text-decoration: none;
    padding: 8px 20px 8px 20px;
}

.aula13_ul a:hover{

    background: black;
    text-decoration: underline;
}

.aula13_ul a:active{
    background: red;
}

.aula13_ul a:visited{
    color: yellow;

}







