p {
    font-size: 14px;
}


/* --------------------------------------- AULA 21 --------------------------------------- */

/* Recorte de elementos / Clip  */

.aula21_div01{

    background:yellow;
    width:400px;
    border: 1px solid red;
    position: absolute;
    clip: rect(0px 240px 260px 80px);
}

.aula21_img{

    background:yellow;
    position: absolute;
    clip: rect(0px 250px 194px 0px);
}

/* --------------------------------------- AULA 22 --------------------------------------- */

/* Border e Text Shadow  */

/* deslocamento horizontal, deslocamento vertical, blur, cor

poe colocar mais de uma cor
*/

h3.aula22_titulo{

    -moz-text-shadow: 5px 5px 10px red, -5px -5px 10px yellow;
    -webkit-text-shadow: 5px 5px 10px red, -5px -5px 10px yellow;
    text-shadow: 5px 5px 10px red, -5px -5px 10px yellow;
}

div.aula22_divTexto{

    width: 150px;
    padding: 10px;
    border: 1px solid gray;

    -moz-box-shadow: 5px 5px 15px black, -5px -5px 30px green;
    -webkit-box-shadow: 5px 5px 15px black, -5px -5px 30px green;
    box-shadow: 5px 5px 15px black, -5px -5px 30px green;
}

/* --------------------------------------- AULA 23 --------------------------------------- */

/* Border radius */

.aula23_logomarca, .aula25_logomarca{

    width: 400px;
    height: 40px;
    padding-top: 25px;
    padding-bottom: 40px;
    text-align: center;
    background: green;
    position: absolute;
    left: calc(50% - 100px);
    color:white;
    font-size:30px;

    text-shadow: 0px 0px 5px black;
    font-family: Arial;
    box-shadow: 0px 0px 5px black;
    
    -moz-border-radius: 60px;
    -moz-border-top-left-radius: 0px;
    -moz-border-bottom-right-radius: 0px;

    border-radius: 60px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;

    -webkit-border-radius: 60px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
}


/* --------------------------------------- AULA 24 --------------------------------------- */

/* Novos seletores */

.aula24 a[target] {
	color: red;
}

.aula24 a[target="_blank"] {
	background: black;
}

.aula24 a[title~="Curso"] {
	font-size: 18px;
	border:1px solid red;
	padding: 10px;
}
/* buscar quem inicia com https */
.aula24 a[href^="https"] {
	background:red;
	color: white;
	padding: 10px;
}

.aula24 a:empty {
	width: 50px;
	height:20px;
	background: yellow;
	display: block;
	margin: 5px;
	border: 1px solid black;
}

.aula24 input:disabled {
	background:gray;
	padding: 8px;
	border-radius: 10px;
}

.aula24 input:checked {
	display:block;
}


/* --------------------------------------- AULA 25 --------------------------------------- */

/* Introdução ao Animation */

.aula25_logomarca{
  
    /* */
    /*transition: border-radius 2s linear 0.1s;*/
    transition: 
        border-radius 2s ease-out 0.1s, 
        background 2s ease-out 0.1s,
        font-size 2s ease-out 0.9s;
}


.aula25_logomarca:hover{

    border-radius: 60px;
    background: red;
    font-size: 50px;
}


/* --------------------------------------- AULA 26 --------------------------------------- */

/*  Criando uma animação usando Animation */

@keyframes animacaoAula26{

    /* 0% da animação */
    0%{
        background: black;
        position: absolute;
        width:100px;
        top: 5px;
        left:5px;
    }

    25%{
        background: blue;
        position: absolute;
        width:150px;
        top: 400px;
        left:400px;
    }

    50%{
        background: red;
    }

    75%{
        background: yellow;
    }

    100% {
        background: green;
    }
}

.aula26 div{
    width: 100px;
    height: 150px;
    border: 5px solid red;
    position: absolute;
    top:0px;
    left:0px;
    animation: animacaoAula26 5s ease 1s 10 alternate;
   -webkit-animation: animacaoAula26 5s ease 1s 10 alternate;
   -moz-animation: animacaoAula26 5s ease 1s 10 alternate;
}


/* --------------------------------------- AULA 27 --------------------------------------- */

/* Utilizando fontes personalizadas com Font Face */


@font-face{
    font-family: nossaFontePersonalizada;
    src: url('../KaushanScript-Regular.ttf')
}

@font-face{
    font-family: nossaFontePersonalizada2;
    src: url('../JustMeAgainDownHere.ttf')
}

.aula27 p{
    font-size: 18px;
    font-family: nossaFontePersonalizada2;
}


































