/* body{
    
    background:yellow;
} */


/* --------------------------------------- AULA 05 --------------------------------------- */


/* --- Seleção por tipo de elemento --- */

p {
    font-size: 12px;
}


/* --- Seleção por id de elemento --- */

#paragrafo01 {
    font-size: 30px;
}


/* --- Seleção por classe --- */

.nome_da_classe {
    background: white;
}


/* --------------------------------------- AULA 06 --------------------------------------- */


/*  */

.fundo_pagina {
    background: rgb(0, 0, 0);
}

.fundo_elemento {
    background: #88FF00;
}

.fundo_elemento_com_rgba {
    /* o valor 30 é o valor alfa, o valor de 'transparência'
     vai do valor 0 até 1
    */
    background: rgba(152, 152, 152, 0.3);
}


/* --------------------------------------- AULA 07 --------------------------------------- */


/* imagem de fundo */


/* repeat-x : repetição somente no eixo x
   repeat-y : repetição no eixo y
   no-repeat: não repete o background

*/


/*pro html ocupar 100% da tela*/

html {
    height: 100%;
}

.fundo_madeira {
    /*background: url('../imagens/fundo.png') center center repeat-y;*/
    background: url('../imagens/fundo.png');
}


/* --------------------------------------- AULA 08 --------------------------------------- */


/* fontes */

.fonte_pagina {
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color: darkolivegreen;

}

.fonte_01 {
    font-size: 30px;
}

.fonte_02{

    color: #00FFFF;
}

.fonte_03{

   font-family:"Courier New", Courier, monospace;
	font-size:20px;
	color:#FF00FF;
}




